{% extends 'ProbesysAdminBundle::base.html.twig' %}
{% block content %}
<div class="span12">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li class="">
                <a href="/admin/">{{ 'generic.dashboard'|trans({}, 'ProbesysAdminBundle') }}</a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{{ path('admin_setting') }}">Setting</a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{{ path('admin_setting_show', { 'id': entity.id }) }}">Setting #{{ entity.id }}</a>
            </li>
            <span class="divider">/</span>
            <li class="active">
                {{ 'generic.edit'|trans({}, 'ProbesysAdminBundle') }}
            </li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="icon new_collection_link" rel="" title="">
                <a href="{{ path('admin_setting_show', { 'id': entity.id }) }}" tabindex="2">
                    <i class="icon-eye-open"></i>
                    <span>{{ 'generic.show'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
                        <li class="icon new_collection_link edit active" rel="" title="">
                <a href="{{ path('admin_setting_edit', { 'id': entity.id }) }}" tabindex="2">
                    <i class="icon-pencil"></i>
                    <span>{{ 'generic.edit'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
                                    <li class="icon new_collection_link" rel="" title="">
                <a href="{{ path('admin_setting_delete', { 'id': entity.id }) }}" tabindex="2">
                    <i class="icon-remove"></i>
                    <span>{{ 'generic.delete'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
                    </ul>
        <form action="{{ path('admin_setting_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
			<fieldset>
				{{ form_widget(edit_form) }}
				<div class="form-actions">
    				                <div class="form-actions">
                    <button type="submit" name="action" value="save" class="btn btn-primary"><i class="icon-white icon-ok"></i>{{ 'generic.save'|trans({}, 'ProbesysAdminBundle') }}</button>
                    <span class="extra_buttons">
                        <button type="submit" name="action" value="save_and_add" class="btn btn-info">{{ 'generic.save_and_add'|trans({}, 'ProbesysAdminBundle') }}</button>
                        <button type="submit" name="action" value="save_and_edit" class="btn btn-info">{{ 'generic.save_and_edit'|trans({}, 'ProbesysAdminBundle') }}</button>
                        <a href="{{ path('admin_setting') }}" class="btn"><i class="icon-remove"></i>{{ 'generic.cancel'|trans({}, 'ProbesysAdminBundle') }}</a>
                    </span>
                </div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock content %}
