{% extends 'ProbesysAdminBundle::base.html.twig' %}
{% block content %}

<div class="span12">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li class="">
                <a href="/admin/">{{ 'generic.dashboard'|trans({}, 'ProbesysAdminBundle') }}</a>
            </li>
            <span class="divider">/</span>
            <li class="active">Setting</li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="icon index_collection_link active" rel="" title="">
                <a href="{{ path('admin_user') }}">
                    <i class="icon-th-list"></i>
                    <span>{{ 'generic.list'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
                        <li class="icon new_collection_link " rel="" title="">
                <a href="{{ path('admin_setting_new') }}" tabindex="2">
                    <i class="icon-plus"></i>
                    <span>{{ 'generic.create'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
                        <!--
            <li style="float:right" class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Selected items<b class="caret"></b></a>
                <ul style="left:auto; right:0;" class="dropdown-menu">
                    <li>
                        <a onclick="jQuery('#bulk_action').val('bulk_delete'); jQuery('#bulk_form').submit(); return false;" href="#">Delete selected</a>
                    </li>
                </ul>
            </li>
            -->
        </ul>
        <div id="list">
            <form id="bulk_form" class="form" method="post" action="{{ path('admin_setting_bulk') }}">
                <table class="table table-striped index-table table-condensed">
                    <thead>
                        <tr>
                            <th class="shrink"></th><!-- Key navigation -->
                            <th class="shrink">
                                <input type="checkbox" class="toggle">
                            </th>
                            <th class="shrink hidden">
                                <i class="icon-arrow-left"></i>
                                <span style="display:none">Previous set</span>
                            </th>                            <th>{{ pagination.sortable('Id', 'a.id')|raw }}</th>                            <th>{{ pagination.sortable('Setting name', 'a.setting_name')|raw }}</th>                            <th>{{ pagination.sortable('Setting value', 'a.setting_value')|raw }}</th>                            <th class="last shrink"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in pagination %}
                            <tr class="keynav">
                                <td></td>
                                <td>
                                    <input type="checkbox" value="{{ entity.id }}" name="bulk_ids[]" id="bulk_ids_{{ entity.id }}">
                                </td>
                                <td class="hidden">
                                    <a href="#" class="pjax">
                                        <i class="icon-arrow-left"></i>
                                        <span style="display:none">Show</span>
                                    </a>
                                </td>                                        <td><a href="{{ path('admin_setting_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>                                        <td>{{ entity.settingname }}</td>                                        <td>{{ entity.settingvalue }}</td>
                                <td class="last links">
                                    <ul class="inline">
                                        <li class="icon show_member_link " rel="tooltip" title="Show">
                                            <a href="{{ path('admin_setting_show', { 'id': entity.id }) }}">
                                                <i class="icon-eye-open"></i>
                                                <span style="display:none">{{ 'generic.show'|trans({}, 'ProbesysAdminBundle') }}</span>
                                            </a>
                                        </li>

                                        <li class="icon edit_member_link " rel="tooltip" title="Edit">
                                            <a href="{{ path('admin_setting_edit', { 'id': entity.id }) }}">
                                                <i class="icon-pencil"></i>
                                                <span style="display:none">{{ 'generic.edit'|trans({}, 'ProbesysAdminBundle') }}</span>
                                            </a>
                                        </li>

                                        <li class="icon delete_member_link " rel="tooltip" title="Delete">
                                            <a href="{{ path('admin_setting_delete', { 'id': entity.id }) }}">
                                                <i class="icon-remove"></i>
                                                <span style="display:none">{{ 'generic.delete'|trans({}, 'ProbesysAdminBundle') }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="form-actions">
                    <button type="submit" name="action" value="bulk_delete" class="btn">{{ 'bulk.delete'|trans({}, 'ProbesysAdminBundle') }}</button>
                    <!--
                    <button type="submit" name="action" value="bulk_export" class="btn">{{ 'bulk.export'|trans({}, 'ProbesysAdminBundle') }}</button>
                    -->
                </div>
            </form>
        </div>
    </div><!--/row-->
</div>
{% endblock content %}
