{% extends 'ProbesysAdminBundle::base.html.twig' %}
{% block content %}
<div class="span12">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li class="">
                <a href="/admin/">{{ 'generic.dashboard'|trans({}, 'ProbesysAdminBundle') }}</a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{{ path('admin_setting') }}">Setting</a>
            </li>
            <span class="divider">/</span>
            <li class="active">
                {{ 'generic.create'|trans({}, 'ProbesysAdminBundle') }}
            </li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="icon index_collection_link" rel="" title="">
                <a href="{{ path('admin_setting') }}">
                    <i class="icon-th-list"></i>
                    <span>{{ 'generic.list'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
            <li class="icon new_collection_link active" rel="" title="">
                <a href="{{ path('admin_setting_new') }}" tabindex="2">
                    <i class="icon-plus"></i>
                    <span>{{ 'generic.create'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
        </ul>
		<form action="{{ path('admin_setting_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal denser">
		    {{ form_widget(form) }}
		    <fieldset>
                <div class="form-actions">
                    <button type="submit" name="action" value="save" class="btn btn-primary"><i class="icon-white icon-ok"></i>{{ 'generic.save'|trans({}, 'ProbesysAdminBundle') }}</button>
                    <span class="extra_buttons">
                        <button type="submit" name="action" value="save_and_add" class="btn btn-info">{{ 'generic.save_and_add'|trans({}, 'ProbesysAdminBundle') }}</button>
                        <button type="submit" name="action" value="save_and_edit" class="btn btn-info">{{ 'generic.save_and_edit'|trans({}, 'ProbesysAdminBundle') }}</button>
                        <a href="{{ path('admin_setting') }}" class="btn"><i class="icon-remove"></i>{{ 'generic.cancel'|trans({}, 'ProbesysAdminBundle') }}</a>
                    </span>
                </div>
		    </fieldset>
		</form>
	</div>
</div>
{% endblock content %}
