{% extends 'ProbesysAdminBundle::base.html.twig' %}

{% block content %}
<div class="span12">
    <div class="row-fluid">
        <ul class="breadcrumb">
            <li class="">
                <a href="/admin/">{{ 'generic.dashboard'|trans({}, 'ProbesysAdminBundle') }}</a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{{ path('admin_setting') }}">Setting</a>
            </li>
            <span class="divider">/</span>
            <li class="active">
                Setting #{{ entity.id }}
            </li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="icon new_collection_link active" rel="" title="">
                <a href="{{ path('admin_setting_show', { 'id': entity.id }) }}" tabindex="2">
                    <i class="icon-eye-open"></i>
                    <span>{{ 'generic.show'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
                        <li class="icon new_collection_link" rel="" title="">
                <a href="{{ path('admin_setting_edit', { 'id': entity.id }) }}" tabindex="2">
                    <i class="icon-pencil"></i>
                    <span>{{ 'generic.edit'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
                                    <li class="icon new_collection_link" rel="" title="">
                <a href="{{ path('admin_setting_delete', { 'id': entity.id }) }}" tabindex="2">
                    <i class="icon-remove"></i>
                    <span>{{ 'generic.delete'|trans({}, 'ProbesysAdminBundle') }}</span>
                </a>
            </li>
                    </ul>
        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Setting_name</th>
                    <td>{{ entity.settingname }}</td>
                </tr>
                <tr>
                    <th>Setting_value</th>
                    <td>{{ entity.settingvalue }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
